body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.hidden {
    display: none;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input {
    padding: 10px;
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

canvas {
    display: none;
}